﻿

/*********************
ESTILOS

 FUENTES: http://ksesocss.blogspot.com/2013/01/tabla-encabezado-fijo.html
*********************/

.table_contenido {
    width:100%;    
   table-layout: auto;
	/*border-collapse: collapse;*/
}

.table_contenido thead {
   
    display:block;
    /*overflow:auto;*/

}


.table_contenido tr {
    display:block;
    position:relative;
}
.table_contenido tbody {
       
    position:relative;
    display:block;
    overflow-y:auto;
    overflow-x:hidden;
    height:400px;
}

.table_contenido tr th,
.table_contenido tr td {
	min-width: 130px;
}


/*
.table_contenido td:nth-child(1),
.table_contenido th:nth-child(1) {
	min-width: 60px;
}
*/

.table_contenido thead tr th {
     
    font-size:13px;
    text-transform:uppercase;
}

.table_contenido tbody tr td {
    color:#ffffff;    
    font-size:12px;
   
}


#colum_indic_01 {
    
    background-color:#ff9933;
    color:#ffffff;
    
}


.tabla_detalle thead tr th {
color:#ffffff;    
font-size:11px;
}

.tabla_detalle tbody tr td {
color:#ffffff;    
font-size:11px;
width:180px;
}
.tabla_detalle tbody tr td input,select  {
    font-size:10px;
}


.tabla_detalle tfoot tr td {
text-align:center;
}

/*-------ESTILOS PARA LOS MANTENEDORES-----*/
.mantenedor01 {
    margin:0 auto;
}
.mensaje01 {
    color:red;font-weight:bolder;
}
.mantenedor01 tr th {
    text-align:right;
}
.mantenedor01 tr th , .mantenedor01 tr td {    
    padding:10px 10px 0 0;
}

.link01:link  {
color:white;
}
.link01:visited  {
color:white;
}

.color01 {
   background-color:  #009999;
}
.color02 {
    background-color:  #006666;
}
.boton1 {
    width:20px;
}
.fecha1 {
    width:100px;
}
.hora {
    width:20px;
}

.text1 {
    width:80px;
}
.text2 {
    width:150px;
}
.estiloNumero {
        width: 70px;
}
.estiloTexto {
        width: 140px;
}

/*MANEJO DE POPUP*/
/*
.fondoPrincipal{
      
  position:fixed;
  z-index:1;
  width:100%;
  height:100%;
  background:#4D80AF;
  cursor:pointer;

}
*/


/*--------------ESTILO PARA LOS FONDOS DE PANTALLA-------------------------------- */

.hideFondo{

  position:fixed;
  top:0;
  left:0;
  z-index:50;
  width:100%;
  height:100%;
  background:#FFFFFF;
  opacity:0.6;
  filter:alpha(opacity=60);

}

.hideFondoMD{

  position:fixed;
  top:0;
  left:0;
  z-index:50;
  width:100%;
  height:100%;
  background:#000000;
  opacity:0.3;
  filter:alpha(opacity=30);
  cursor:pointer;
/*  border: 2px solid #999999;*/

}

.showFondo{

    z-index:1;
    width:0%;
    height:0%;

}

/*---Clase para mostrar fila seleccionada en la busqueda de elementos--*/
.hover { background-color: #F0D58C; color: #fff; }
