﻿/* CSS Document 
contenido: #0F3D48
encabezado: #174C5B
equivalentes: #366774
piepagina: #ECECE7
auxiliar: #E96151
*/
/**************************
NEUTRALIDAD
***************************/
h1, h2, h3, h4, h5, h6, p, html, body {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fff;
}

body {
    color: #ECECE7;
}

/**************************
ESTRUCTURA
***************************/
#wrapper {
    /*---Tamaño ideal : 960 y multiples de este-- */
    width: 96%;
    min-width:460px;
    max-width:2048px;/*1024px;*/
    height: 660px;
    background-color: #ffffff;
    margin: 0 auto;
}

#encabezado {
    text-align:center;
    height: 48px;    
    font-size:26px;
    padding:10px;
    background-color: #0F3D48;
}

#contenido {
    height: 540px;
    background-color: #174C5B;
  
}

#piePagina {
    height: 20px;
    background-color: #366774;
}

#izq {
    background-color: #0F3D48;
    float: left;
    font-size:14px;
    width: 12%; /* -- 94% -- */
    height: 540px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 2%;
    margin-top: 0;

    padding-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
    overflow: auto;

}

#der {
    /*background-color:#401801;*/
    float: right;
    width: 80%;
    height: 540px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-right: 2%;
    overflow: auto;
}
/*********************
CLASES
*********************/
.img_izquierda {
    float: left;
    height:80%;
    width:10%;
}

.img_derecha {
    float:right;  
    width:10%;
    height:80%;
}
/*********************
ESTILOS
*********************/
.subtitulo {
   
    margin:8px auto;
    text-align:center;
    text-transform:uppercase;
    font-weight:bolder;
    width:96%;
}
.contenido_2 {
              
    width:100%;
}
p {
    text-align:center;    
    padding:0px;
}

#izq div {

   margin:10px 0 10px 0;
}

#izq div a:link {

   color:white;
}
#izq div a:visited {

   color:white;
}





