﻿@model appControlRutasTanqueos.Areas.Privada.Models.rendimientoViewModel

@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{/*Fuente: */ }

@using (Html.BeginForm())
{ //BeginForm hace un post al Persona/Create. Ademas se puede confirar la accion a realizar como guardar la cabecera
    //o solo el detalle de un mantenedor.

    //--- Es una forma de aplicar seguridad en la pagina
    @Html.AntiForgeryToken()    
    //Bustra , para invocar a la clase CSS de un control HTML que genera HTML Helper
    @Html.ValidationSummary(true, "", new { @class = "" })

        <table class="" border="0">
            <tr>
                <th>@Html.DisplayNameFor(model => model.interfaz.fecha_inicial)</th>
                <td>
                    @Html.EditorFor(model => Model.interfaz.fecha_inicial, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => Model.interfaz.fecha_inicial, "", new { @class = "" })
                </td>
                <th>@Html.DisplayNameFor(model => model.interfaz.fecha_final)</th>
                <td>
                    @Html.EditorFor(model => Model.interfaz.fecha_final, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => Model.interfaz.fecha_final, "", new { @class = "" })
                </td>
                <td><input type="submit" value="Listar" class="" /></td>                
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("CREATE", "RendimientoCRUD", new {tipo_operacion = "I", id = -1, id_ruta= 0  }, new { @class = "link01" }) 
                </td>
                
            </tr>

        </table>
    <table class="table_contenido" border="1">
        <thead>
            <tr>
                <th>---</th>
                <th>@Html.DisplayNameFor(model => model.ruta.ciudad_origen)</th>
                <th>@Html.DisplayNameFor(model => model.ruta.ciudad_destino)</th>                
                <th>@Html.DisplayNameFor(model => model.peso_minimo)</th>                
                <th>@Html.DisplayNameFor(model => model.peso_maximo)</th>                
                <th>@Html.DisplayNameFor(model => model.rend)</th>                                
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.lstRen)
            {
                    
                <tr>
                    <td>
                        @Html.ActionLink("CR", "RendimientoCRUD", new { tipo_operacion = "I", id = 0, id_ruta = item.ruta.id_ruta }, new { @class = "link01" }) |                        
                        @Html.ActionLink("U", "RendimientoCRUD", new { tipo_operacion = "A", id = 0, id_ruta = item.ruta.id_ruta }, new { @class = "link01" }) |
                        @Html.ActionLink("D", "RendimientoCRUD", new { tipo_operacion = "E", id = 0, id_ruta = item.ruta.id_ruta }, new { @class = "link01" })
                    </td>

                    <td>@Html.DisplayFor(modelItem => item.ruta.ciudad_origen.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.ruta.ciudad_destino.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.peso_minimo)</td>
                    <td>@Html.DisplayFor(modelItem => item.peso_maximo)</td>
                    <td>@Html.DisplayFor(modelItem => item.rend)</td>

                </tr>
            }

        </tbody>


    </table>

}
