﻿@model appControlRutasTanqueos.Areas.Privada.Models.rendimientoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">


    $(document).ready(function () {


        $("#tabla_detalle tbody tr").each(function (index) {

            //---------Muestro en el combo box el elemento seleccionado por defecto------------------------
            var id_ruta = $(this).find("td").eq(1).find("input[type=hidden]").val();
            $(this).find("td").eq(1).find("select").val(id_ruta);

            //--------------Muestra en todas las listas desplegables un elemento seleccionado------------------
            var ruta = $(this).find("td").eq(1).find("select");
            ruta.change(function () {
                mostrarListasDesplegables($(this).val());
            });
        });

    });

    function mostrarListasDesplegables(id_ruta) {

        $("#tabla_detalle tbody tr").each(function (index) {
            $(this).find("td").eq(1).find("select").val(id_ruta);
        });

    }

    function agregarDetalle() {

        //--Agregamos una fila mas
        $("#tabla_detalle tbody tr:eq(0)").clone().removeClass('fila-base').appendTo("#tabla_detalle tbody");
        //--Colocamos en cero al campo id_rendimiento.
        var ultima_fila = $("#tabla_detalle tbody tr:last");
        ultima_fila.find("td").eq(0).find("input[type=hidden]").val(0);
    }



    var ruta = function (id_ruta, nombre) {
        this.id_ruta = id_ruta;
        this.nombre = nombre;
    }
    function getFormJson(i) {
        var obj = new ruta(i, "");
        return obj;
    }


    $(function mostrarRutas() {

        $('#btnRutas').on("click", function (e) {

            var obj = getFormJson(1);
            alert(obj.id_ruta);
            e.preventDefault();
            $.ajax({
                url: '/Ruta/ajax_listaRutas/',
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(obj),
                success: function (datar) {
                    
                    $(datar).each(function (index, item) {

                        $('#cboRutas').append("<option value='" + item.id_ruta + "' >" + item.nombre + "</option>");
                    });
                    
                },
                error: function (e) {
                    alert('Error: ' + e);
                }


            });




        });

    });


</script>

@{/*Fuente: */ }

@using (Html.BeginForm())
{ //BeginForm hace un post al Persona/Create. Ademas se puede confirar la accion a realizar como guardar la cabecera
    //o solo el detalle de un mantenedor.

    //--- Es una forma de aplicar seguridad en la pagina
    @Html.AntiForgeryToken()
    //Bustra , para invocar a la clase CSS de un control HTML que genera HTML Helper
    @Html.ValidationSummary(true, "", new { @class = "" })

    //---Ocultamos los campos que sean necesario en los hidden
    @Html.HiddenFor(model => model.id_rendimiento, new { htmlAttributes = new { @class = "" } })
    @Html.HiddenFor(model => model.interfaz.tipo_operacion, new { htmlAttributes = new { @class = "" } })


    <table id="tabla_detalle" class="tabla_detalle" border="1">
        <thead>
            <tr>
                <th class="mensaje01" colspan="5">@Model.interfaz.mensaje</th>
            </tr>
            
            <tr>
                <th>@Html.LabelFor(model => model.id_rendimiento, htmlAttributes: new { @class = "" })</th>
                <th>@Html.LabelFor(model => model.ruta.nombre, htmlAttributes: new { @class = "" })</th>
                <th>@Html.LabelFor(model => model.peso_minimo, htmlAttributes: new { @class = "" })</th>
                <th>@Html.LabelFor(model => model.peso_maximo, htmlAttributes: new { @class = "" })</th>
                <th>@Html.LabelFor(model => model.rend, htmlAttributes: new { @class = "" })</th>
            </tr>
            

        </thead>
        <tbody>

            @{ int cont = -1;}

            @for (int i = 0; i < Model.lstRen.Count; i++)
            {
                <tr class="fila-base">
                    <td>
                        @Model.lstRen[i].id_rendimiento
                        @Html.HiddenFor(modelItem => @Model.lstRen[i].id_rendimiento, new { htmlAttributes = new { @class = "" } })
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => @Model.ruta.id_ruta, new { htmlAttributes = new { @class = "" } })
                        @Html.DropDownListFor(modelItem => Model.lstRen[i].ruta.id_ruta, new SelectList(Model.ruta.lstRut, "id_ruta", "nombre"), htmlAttributes: new { @id = "id_ruta" + @cont })
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => @Model.lstRen[i].peso_minimo, new { htmlAttributes = new { @class = "", @id = "" } })
                        @Html.ValidationMessageFor(modelItem => @Model.lstRen[i].peso_minimo, "", new { @class = "" })
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => @Model.lstRen[i].peso_maximo, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(modelItem => @Model.lstRen[i].peso_maximo, "", new { @class = "" })
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => @Model.lstRen[i].rend, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(modelItem => @Model.lstRen[i].rend, "", new { @class = "" })
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <input type="submit" value="Registrar" class="" />
                    <input type="button" value="Agregar" onclick="agregarDetalle()" />
                </td>
            </tr>
        </tfoot>




    </table>


}