﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Titulo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


</head>
<body>

    <div id="wrapper">

        <div id="encabezado" >
                       
            <img src="~/Imagenes/logo_01.png" class="img_izquierda" />
            @ViewBag.Title            
            <img src="~/Imagenes/logo_02.png" class="img_derecha" />                                              
            
        </div>
        <div id="contenido">
            <div id="izq">

                <div>                    
                    @Html.ActionLink("Plantillas de rendimientos por ruta y peso transportado", "RendimientosListar", "Rendimiento", new { area = "Privada" }, htmlAttributes: new { @class = "opcion1", @id = "opcion1" })
                </div>
                <div>
                    @Html.ActionLink("Control de kilometraje y consumo por ruta recorrida", "RecorridosListar", "Recorrido", new { area = "Privada" }, htmlAttributes: new { @class = "opcion2", @id = "opcion2" })                                        
                </div>
                <div>
                    @Html.ActionLink("Rpte. - Trazabilidad de abastecimiento de combustible por unidad y conductor", "RpteTrazaAbastCombust", "Recorrido", new { area = "Privada" }, htmlAttributes: new { @class = "opcion3", @id = "opcion3" })                                        
                </div> 
                <div>
                    @Html.ActionLink("Rpte. - Galones asignados VS Galones abastecidos por ruta, unidad y conductor.", "RpteGlnsAsigVSGlnsAbast", "Recorrido", new { area = "Privada" }, htmlAttributes: new { @class = "opcion4", @id = "opcion4" })                                        
                </div>
                <div>
                    @Html.ActionLink("Rpte. - Listado de descuento a conductores por consumo excesivo de combustible", "RpteDsctoConductores", "Recorrido", new { area = "Privada" }, htmlAttributes: new { @class = "opcion5", @id = "opcion5" })                                             
                </div>



                

            </div>
            <div id="der" >

                <div class="subtitulo">
                    <h4>@ViewBag.subtitulo</h4>
                </div>
                <div class="contenido_2">
                    @RenderBody()
                </div>
                
            </div>            
        </div>
        <div id="piePagina" >
            <p>&copy; @DateTime.Now.Year - Transportes Vallenorte S.A.C.</p>
        </div>

    </div>
    
    
</body>
</html>
