﻿@model appControlRutasTanqueos.Areas.Privada.Models.recorridoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <script type="text/javascript">

    $(document).ready(function () {

        colorearFilasAlternadas('table_contenido',0);

    });
    

    function colorearFilasAlternadas(name_table,colum) {

        var trs = $("#" + name_table + " tbody tr").length;
        var fila, fila_ant, campo = "", campo_ant = "";
        var pos = 0;
        for (var i = 0; i < trs; i++) {
            pos = i - 1;
            fila = $("#" + name_table + " tbody tr:eq(" + i + ")");
            campo = fila.find("td").eq(colum).find("input[type=hidden]").val();
            if (i == 0) fila.addClass("color01");

            if (i > 0) {
                fila_ant = $("#" + name_table + " tbody tr:eq(" + pos + ")");
                campo_ant = fila_ant.find("td").eq(colum).find("input[type=hidden]").val();
                if (campo == campo_ant) {
                    fila.addClass(fila_ant.attr("class"));
                }
                else {
                    if (fila_ant.attr("class") == "color01")
                        fila.addClass("color02");
                    else
                        fila.addClass("color01");
                }
            }
        }
    }

</script>

@{/*Fuente: */ }

@using (Html.BeginForm())
{ //BeginForm hace un post al Persona/Create. Ademas se puede confirar la accion a realizar como guardar la cabecera
    //o solo el detalle de un mantenedor.

    //--- Es una forma de aplicar seguridad en la pagina
    @Html.AntiForgeryToken()
    //Bustra , para invocar a la clase CSS de un control HTML que genera HTML Helper
    @Html.ValidationSummary(true, "", new { @class = "" })

    <table class="" border="0">
        <tr>
            <th>@Html.DisplayNameFor(model => model.interfaz.fecha_inicial)</th>
            <td>
                @Html.EditorFor(model => Model.interfaz.fecha_inicial, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => Model.interfaz.fecha_inicial, "", new { @class = "" })
            </td>
            <th>@Html.DisplayNameFor(model => model.interfaz.fecha_final)</th>
            <td> 
                @Html.EditorFor(model => Model.interfaz.fecha_final, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => Model.interfaz.fecha_final, "", new { @class = "" })
            </td>
            <td><input type="submit" value="Listar" class="" /></td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("CREATE", "RecorridosCRUD", new { tipo_operacion = "I", id = -1 }, new { @class = "link01" })
            </td>

        </tr>
    </table>
    <table id="table_contenido" class="" border="1" style="font-size: 12px;" >
        <thead>
            <tr>
                <th>N°</th>
                <th>---</th>
                <th>@Html.DisplayNameFor(model => model.fecha)</th>
                <th>@Html.DisplayNameFor(model => model.programacion.id_programacion)</th>
                <th>@Html.DisplayNameFor(model => model.unidad_transporte.placa)</th>
                <th>@Html.DisplayNameFor(model => model.conductor)</th>
                <th>@Html.DisplayNameFor(model => model.cliente)</th>
                <th>@Html.DisplayNameFor(model => model.mercaderia.nombre)</th>
                <th>@Html.DisplayNameFor(model => model.mercaderia.peso)</th>
                <th>@Html.DisplayNameFor(model => model.ruta.nombre)</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.lstR)
            {
                ++Model.interfaz.contador;
                <tr>
                    <td>
                        @Model.interfaz.contador                                                
                        @Html.HiddenFor(modelItem => item.unidad_transporte.placa)
                    </td>
                    <td>                        
                        @Html.ActionLink("U", "RecorridosCRUD", new { tipo_operacion = "A", id = item.id_recorrido }, new { @class = "link01" }) |
                        @Html.ActionLink("D", "RecorridosCRUD", new { tipo_operacion = "E", id = item.id_recorrido }, new { @class = "link01" })
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.programacion.id_programacion)</td>
                    <td>@Html.DisplayFor(modelItem => item.unidad_transporte.placa)</td>
                    <td>@Html.DisplayFor(modelItem => item.conductor.nombres_apellidos)</td>
                    <td>@Html.DisplayFor(modelItem => item.cliente.nombres_apellidos)</td>
                    <td>@Html.DisplayFor(modelItem => item.mercaderia.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.mercaderia.peso)</td>
                    <td>@Html.DisplayFor(modelItem => item.ruta.nombre)</td>
                 
                </tr>
            }
        </tbody>

    </table>

}
