﻿@model appControlRutasTanqueos.Areas.Privada.Models.recorridoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<script type='text/javascript' src='~/Openpopup/lib/x.js'> </script>
<script type='text/javascript' src='~/Openpopup/lib/xfenster.js'> </script>
<script type='text/javascript' src='~/Openpopup/lib/xenabledrag.js'> </script>
<script type='text/javascript' src='~/Openpopup/lib/xdocsize.js'> </script>
<script type='text/javascript' src='~/Openpopup/lib/xname.js'> </script>
<script type='text/javascript' src='~/Openpopup/lib/popup.js'> </script>
<script type='text/javascript' src='~/Scripts/funciones.js'> </script>
<link rel='stylesheet' type='text/css' href='~/Openpopup/Css/xfenster3.css' />
<link rel='stylesheet' type='text/css' href='~/Panel/tab.css' />



<script type="text/javascript">

    var table1 = "tabla_detalle", table2 = "tabla_detalle_tanqueo";

    //--------------------------------CREACIÓN DEL POPUP------------------------------------------------------
    centrarPopup(800, 500);//De aqui obtenemos el valor de las variables globales vg_laXPopup, etc.
    document.write("<style type='text/css'>.xFenster {display:none}</style>");
    var args = [
        { title: titulo, x: vg_laXPopup, y: 70, w: vg_anchoPopup, h: vg_altoPopup, fnMenu: xfMenu, minW: 150, conBor: 2, conPad: 1, cliBor: 0, noStatus: true, noResize: true, noMinimize: true, noMaximize: true, noClose: true }
      , { title: titulo, x: vg_laXPopup, y: 70, w: vg_anchoPopup, h: vg_altoPopup, fnMenu: xfMenu, minW: 150, conBor: 2, conPad: 1, cliBor: 0, noStatus: true, noResize: true, noMinimize: true, noMaximize: true, noClose: true }
    ];
    //Popup para registro de tanqueos
    //centrarPopup(500, 200);
    //args[args.length] = { title: titulo, x: vg_laXPopup, y: 70, w: vg_anchoPopup, h: vg_altoPopup, fnMenu: xfMenu, minW: 150, conBor: 2, conPad: 1, cliBor: 0, noStatus: true, noResize: true, noMinimize: true, noMaximize: true, noClose: true };


    xAddEventListener(window, 'load',
    function () {
        for (var i = 0; i < args.length; ++i) {
            args[i].clientId = 'xf' + (i + 1);
            //alert(new xFenster(args[i]));
            new xFenster(args[i]);
        }
        xFenster.hideAll();

    }, true
      );

    function xfMenu(xf) {

        if (xf.mnu.innerHTML.length == 0) {

            xf.mnu.innerHTML =
                '<a class="xfMnuCmd showAll" href="#">Show All</a>' +
                '<a class="xfMnuCmd hideAll" href="#">Hide All</a>' +
                '<a class="xfMnuCmd paintAll" href="#">Paint All</a>' +
                '<a class="xfMnuCmd restoreAll" href="#">Restore All</a>' +
                '<a class="xfMnuCmd minimizeAll" href="#">Minimize All</a>' +
                '<a class="xfMnuCmd maximizeAll" href="#">Maximize All</a>';
            xGetElementsByClassName('xfMnuCmd', xf.mnu, 'a', function (a) { a.onclick = xfMnuClk; });

        }

        return true;

    }
    //---------------------------------------------------------------------------------------------------------------------------------------------


    var programacion = function (id_programacion) {
        this.id_programacion = id_programacion;        
    }

    var recorridoViewModel = function (id_programacion) {
        this.id_recorrido = 0;
        this.programacion = new programacion(id_programacion);
        this.unidad_transporte = new unidad_transporte();
        this.conductor = new persona(0,'');
        this.cliente = new persona(0,'');
        this.ruta = new rutaViewModel();
        this.mercaderia = new mercaderia();
        this.tanqueo = new tanqueo();
        this.fecha_cadena = "";
        this.fecha = "";
    }

    function tanqueo() {
        this.nro_galones_anterior = 0.0;
        this.kilometraje_anterior = 0.0;
        this.rend_esperado = 0.0;
    }

    function mercaderia() {
        this.nombre = "";
        this.peso = 0.0;
    }

    var unidad_transporte = function (id_unidad_transporte) {
        this.id_unidad_transporte = id_unidad_transporte;
        this.placa = "";

    }
    var persona = function (id_persona, nombres_apellidos) {
        this.id_persona = id_persona;
        this.nombres_apellidos = nombres_apellidos;
        this.tarifa_combustible = 0;
    }



    var rutaViewModel = function (id_ruta) {

        this.id_ruta = id_ruta;
        this.nombre = "";        

    }

    function getFormJsonUT(i) {
        var obj = new unidad_transporte(i);
        return obj;
    }

    function getFormJsonRutas(i) {
        var obj = new ruta(i);
        return obj;
    }

    function getFormJsonRecor(i) {
        var obj = new recorridoViewModel(i);
        return obj;
    }

    $(function mostrarDatos() {

        mostrarTab();
        mapearControlesRecorrido();
        calcularValores("INICIO");

        if ($('#tipo_operacion').val() == "I") calcularGlnsPorRuta();

        $(".pantalla").click(function () {            
            desactivarSombraPantalla();
            xFenster.hideAll();
        });

        $('#btnBuscarProg').on("click", function (e) {

            var obj = getFormJsonRecor($("#id_programacion").val());
            e.preventDefault();
            $.ajax({
                url: '/Recorrido/ajax_listaDatosProgramacion/',
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(obj),
                success: function (datar) {

                    $(datar).each(function (index, item) {
                        //alert(item.unidad_transporte.placa);
                        $('#id_unidad_transporte').val(item.unidad_transporte.id_unidad_transporte);
                        $('#placa').val(item.unidad_transporte.placa);
                        $('#conductor').val(item.conductor.nombres_apellidos);
                        $('#id_conductor').val(item.conductor.id_persona);
                        $('#cliente').val(item.cliente.nombres_apellidos);
                        $('#id_cliente').val(item.cliente.id_persona);
                        $('#id_ruta').val(item.ruta.id_ruta);
                        $('#ruta').val(item.ruta.nombre);
                        $('#persona').val(item.ruta.id_persona);
                        $('#mercaderia').val(item.mercaderia.nombre);
                        $('#peso').val(item.mercaderia.peso);
                        //alert("Formato cadena: "+item.fecha_cadena+" Formato date: "+item.fecha);
                        //$('#fecha').val(item.fecha_cadena);
                        $('#nro_galones_anterior0').val(item.tanqueo.nro_galones_anterior);
                        $('#kilometraje_anterior0').val(item.tanqueo.kilometraje_anterior);                       
                    });

                    calcularGlnsPorRuta();

                },
                error: function (e) {
                    alert('Error: ' + e + "----" + e.error);
                }


            });


            

        });




    });

    /*
    $(document).ready(function () {

        //alert("Ejecucion")
        mapearControlesRecorrido();

    });*/

    function mostrarTab() {
        tab('tab_01', 'panel_01');
    }

    function mapearControlesRecorrido() {
        //alert("Hola");
        var trs = $("#" + table1 + " tbody tr").length;
        var cadena = "",cadena_det="";
        //var fila2 = obtenerFilaDetRec(0, table2);        
        for (var i = 0; i < trs; i++) {
            var fila = obtenerFilaDetRec(i, table1);
            $('#btnTrayectoria' + i).remove();            
            $('#btnTanqueo' + i).remove();
            fila.eq(0).append("<input type='button' id='btnTrayectoria" + i + "'  name='btnTrayectoria" + i + "' value='ADD' onclick='agregarRuta(" + i + ", event)' />");            
            fila.eq(6).append("<input type='button' id='btnTanqueo" + i + "'  name='btnTanqueo" + i + "' value='ADD' onclick='agregarTanqueo(" + i + ", event)' />");            
            //---------Obteniendo las trayectorias del detalle del recorrido---------------------
            var id_trayectoria = fila.eq(1).find("input[type=hidden]").val();
            var trayectoria = fila.eq(1).find("input[type=text]").val();
            //alert(id_trayectoria);
            if (id_trayectoria!=0) cadena_det = cadena_det + "<option value='" + id_trayectoria + "'  >" + trayectoria + "</option> ";
            
            //------------------------------------------------------------------------------------
        }                
        trs = $("#" + table2 + " tbody tr").length;
        var cadena_det_2="";
        //if (cadena_det == "") sw=1;
        for (var i = 0; i < trs; i++) {            
            var fila = obtenerFilaDetRec(i, table2);
            cadena = "";
            //alert($('#id_trayectoria' + i).val());
            $('#cboRuta' + i).remove();
            //alert($('#id_trayectoria' + i).val()+"-"+i);
            //if ($('#id_trayectoria' + i).val()!="0" && $('#id_trayectoria' + i).val()!="")
            //{
            //if ($('#id_trayectoria' + i).val() != "" &&
            //    $('#id_trayectoria' + i).val() != "0") cadena_det_2 = "<option value='" + $('#id_trayectoria' + i).val() + "'  >" + $('#trayectoria' + i).val() + "</option> ";
            cadena = cadena + "<select name='cboRuta" + i + "' id='cboRuta" + i + "' class='cboRuta" + i + "' > ";            
            cadena = cadena + cadena_det;
            cadena = cadena + "</select>";
            //alert(cadena + "------" + cadena_det_2 + "---" + $('#id_trayectoria' + i).val());
            fila.eq(1).append(cadena);
            //$(".cboRuta" + i + " option[value='" + $('#id_trayectoria' + i).val() + "']").remove();//Eliminamos valor repetido en la lista desplegable
            //$('#cboRuta' + i).append(cadena_det_2);
            //$('#cboRuta' + i).val($('#id_trayectoria' + i).val());
            $('#cboRuta' + i).on("change", function (e) {
                calcularGlnsPorRuta();
             });
            //}
            //
            //alert($('#cboRuta' + i).val());
            $('#btnPersona' + i).remove();
            fila.eq(2).append("<input type='button' id='btnPersona" + i + "'  name='btnPersona" + i + "' value='ADD' onclick='agregarPersona(" + i + ", event)' />");
        }        


    }

    function verificarRegistrosTrayectoria() {


    }
    function agregarDetalle() {

        //--Agregamos una fila mas
        $("#" + table1 + " tbody tr:eq(0)").clone().removeClass('fila-base').appendTo("#" + table1 + " tbody");
        var trs = $("#" + table1 + " tbody tr").length;
        var fila = obtenerFilaDetRec(trs - 1, table1);
        mapearDetRec(fila, trs - 1);
        calcularGlnsPorRuta();

    }


    function obtenerFilaDetRec(pos,tabla) {
        return $("#" + tabla + " tbody").find("tr").eq(pos).find("td");
    }

    function mapearDetRec(fila, pos_fila) {

        //alert("Hola");
        fila.eq(0).html(pos_fila + 1);
        //alert(pos_fila);
        fila.eq(0).append("<input type='button' id='btnTrayectoria" + pos_fila + "'  name='btnTrayectoria" + pos_fila + "' value='ADD' onclick='agregarRuta(" + pos_fila + ", event)' />");

        var colum = fila.eq(1).find("input[type=hidden]");
        colum.attr("id", "id_ruta" + pos_fila);
        colum.attr("name", "lstRD[" + pos_fila + "].trayectoria.id_ruta");
        colum.val(0);
        colum = fila.eq(1).find("input[type=text]");
        colum.attr("id", "ruta" + pos_fila);
        colum.attr("name", "lstRD[" + pos_fila + "].trayectoria.nombre");

        colum = fila.eq(2).find("input[type=text]");
        colum.attr("id", "km_recor_esp" + pos_fila);
        colum.attr("name", "lstRD[" + pos_fila + "].km_recor_esp");

        colum = fila.eq(3).find("input[type=text]");
        colum.attr("id", "km_recor_real" + pos_fila);
        colum.attr("name", "lstRD[" + pos_fila + "].km_recor_real");

        colum = fila.eq(4).find("input[type=text]");
        colum.attr("id", "nro_galones_asig" + pos_fila);
        colum.attr("name", "lstRD[" + pos_fila + "].nro_galones_asig");

        colum = fila.eq(5).find("input[type=text]");
        colum.attr("id", "nro_galones_abast" + pos_fila);
        colum.attr("name", "lstRD[" + pos_fila + "].nro_galones_abast");

        colum = fila.eq(6).find("input[type=hidden]");
        colum.attr("id", "id_recorrido_detalle" + pos_fila);
        colum.attr("name", "lstRD[" + pos_fila + "].id_recorrido_detalle");
        colum.val(0);

        colum = fila.eq(7).find("input[type=text]");
        colum.attr("id", "rend_esperado" + pos_fila);
        colum.attr("name", "lstRD[" + pos_fila + "].tanqueo.rend_esperado");


    }

    function quitarTodaFilasDetRec() {
        var trs = $("#" + table1 + " tbody tr").length;
        for (var i = 1; i < trs; i++) $("#" + table1 + " tbody").find("tr").eq(1).remove();
        calcularGlnsPorRuta();
    }
    function quitarUltimaFilaDetRec() {


        var trs = $("#" + table1 + " tbody tr").length;
        var fila = $("#" + table1 + " tbody").find("tr").eq(trs - 1);
        if (trs > 1) fila.remove();
        calcularGlnsPorRuta();

    }

    //----------------Detalle de tanqueos
    function agregarDetalleTanq() {

        //--Agregamos una fila mas
        $("#" + table2 + " tbody tr:eq(0)").clone().removeClass('fila-base').appendTo("#" + table2 + " tbody");
        var trs = $("#" + table2 + " tbody tr").length;
        var fila = obtenerFilaDetTanq(trs - 1, table2);
        mapearDetTanq(fila, trs - 1);
        calcularGlnsPorRuta();
    }


    function obtenerFilaDetTanq(pos, tabla) {
        return $("#" + tabla + " tbody").find("tr").eq(pos).find("td");
    }

    function mapearDetTanq(fila, pos_fila) {

        fila.eq(0).html(pos_fila + 1);

        var colum = fila.eq(1).find("input[type=hidden]").eq(0);
        colum.attr("id", "id_tanqueo" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].id_tanqueo");
        colum.val(0);
        colum = fila.eq(1).find("input[type=hidden]").eq(1);
        colum.attr("id", "id_recorrido_detalle" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].id_recorrido_detalle");
        colum.val(0);
        colum = fila.eq(1).find("input[type=hidden]").eq(2);
        colum.attr("id", "id_programacion" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].id_programacion");
        colum.val($('#id_programacion').val());
        colum = fila.eq(1).find("input[type=hidden]").eq(3);
        colum.attr("id", "id_unidad_transporte" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].unidad_transporte.id_unidad_transporte");
        colum.val(0);

        colum = fila.eq(1).find("input[type=hidden]").eq(4);
        colum.attr("id", "id_ruta_retorno" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].ruta_retorno.id_ruta");
        colum.val(0);

        colum = fila.eq(1).find("input[type=hidden]").eq(5);
        colum.attr("id", "id_usuario" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].interfaz.usuario.id_usuario");
        colum.val(0);
        colum = fila.eq(1).find("input[type=hidden]").eq(6);
        colum.attr("id", "id_trayectoria" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].ruta.id_ruta");
        colum.val(0);
        colum = fila.eq(1).find("input[type=hidden]").eq(7);
        colum.attr("id", "trayectoria" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].ruta.nombre");        
        colum.val("");

        /*colum = fila.eq(1).find("input[select]");
        alert(colum.val());
        colum.attr("id", "cboRuta" + pos_fila);
        colum.attr("name", "cboRuta" + pos_fila);
        colum.val(0);*/

        colum = fila.eq(2).find("input[type=hidden]");
        colum.attr("id", "id_empresa" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].empresa.id_persona");
        colum.val(0);
        colum = fila.eq(2).find("input[type=text]");
        colum.attr("id", "empresa" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].empresa.nombres_apellidos");
        colum.val("");

        colum = fila.eq(3).find("input[type=text]").eq(0);
        colum.attr("id", "serie" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].serie");

        colum = fila.eq(3).find("input[type=text]").eq(1);
        colum.attr("id", "numero" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].numero");

        colum = fila.eq(4).find("input[type=date]");
        colum.attr("id", "fecha_tanq" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].fecha");
        //alert(colum.val());

        colum = fila.eq(4).find("input[type=text]").eq(0);
        colum.attr("id", "hora_tanq" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].hora");
        //alert(colum.val());

        colum = fila.eq(4).find("input[type=text]").eq(1);
        colum.attr("id", "minuto_tanq" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].minuto");
        //alert(colum.val());
        

        colum = fila.eq(5).find("input[type=text]").eq(0);
        colum.attr("id", "kilometraje" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].kilometraje");
        colum = fila.eq(5).find("input[type=text]").eq(1);
        colum.attr("id", "kilometraje_anterior" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].kilometraje_anterior");

        colum = fila.eq(6).find("input[type=text]").eq(0);
        colum.attr("id", "nro_galones_abast_tanq" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].nro_galones_abast");
        colum = fila.eq(6).find("input[type=text]").eq(1);
        colum.attr("id", "nro_galones_anterior" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].nro_galones_anterior");

        colum = fila.eq(7).find("input[type=text]");
        colum.attr("id", "precio" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].precio");

        colum = fila.eq(8).find("input[type=text]");
        colum.attr("id", "total" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].total");

        colum = fila.eq(9).find("input[type=text]");
        colum.attr("id", "glosa" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].glosa");

        colum = fila.eq(10).find("input[type=checkbox]");
        colum.attr("id", "ind_ficticio" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].ind_ficticio");

        colum = fila.eq(11).find("input[type=checkbox]");
        colum.attr("id", "ind_nodesemb" + pos_fila);
        colum.attr("name", "lstTan[" + pos_fila + "].ind_nodesemb");

        $('#cboRuta0').remove();
        $('#btnPersona0').remove();
        
        mapearControlesRecorrido();
        asignarEventosTanqueo(pos_fila);

    }

    function quitarTodaFilasDetTanq() {
        var trs = $("#" + table2 + " tbody tr").length;
        for (var i = 1; i < trs; i++) $("#" + table2 + " tbody").find("tr").eq(1).remove();
        calcularGlnsPorRuta();
    }
    function quitarUltimaFilaDetTanq() {

        var trs = $("#" + table2 + " tbody tr").length;
        var fila = $("#" + table2 + " tbody").find("tr").eq(trs - 1);
        if (trs > 1) fila.remove();
        calcularGlnsPorRuta();

    }



    function agregarTanqueo() {

        //mostrarPopup('xf2');

    }

    function tab(pestana, panel) {
        pst = document.getElementById(pestana);
        pnl = document.getElementById(panel);
        psts = document.getElementById('tabs').getElementsByTagName('li');
        pnls = document.getElementById('paneles').getElementsByTagName('div');
        for (i = 0; i < psts.length; i++) {
            psts[i].className = '';
        }// Añadimos la clase "actual" a la pestaña activa
        pst.className = 'actual';// eliminamos las clases de las pestañas
        for (i = 0; i < pnls.length; i++) {
            pnls[i].style.display = 'none';
        }// Añadimos la clase "actual" a la pestaña activa
        pnl.style.display = 'block';
    }


    function agregarRuta(pos,event) {
        
        //alert(pos);
        mostrarPopup(popup_Rut);
        $('#campo0_rutas').val("id_ruta" + pos);
        $('#campo1_rutas').val("ruta" + pos);
        $('#campo2_rutas').val("km_recor_esp" + pos);
        $('#campo3_rutas').val("rend_esperado" + pos);
        $('#campo4_rutas').val($('#peso').val());

        $('#campo_filtrar_Rut').val($("#" + $('#campo1_rutas').val()).val());
        $('#campo_filtrar_Rut').select();
        $('#campo_filtrar_Rut').focus();
        obtenerDatos_Rut(0, event);

    }

    function agregarPersona(pos, event) {        

       // alert(popup_per);
        mostrarPopup(popup_per);
        //alert("Hola");
        $('#campo0_personas').val("id_empresa" + pos);        
        $('#campo1_personas').val("empresa" + pos);
        $('#campo2_personas').val("precio" + pos);
        $('#campo3_personas').val("rend_esperado" + pos);
        $('#campo_filtrar_per').val($("#" + $('#campo1_personas').val()).val());
        $('#campo_filtrar_per').select();
        $('#campo_filtrar_per').focus();        
        obtenerDatos_per(0, event);
    }


    function registrar() {

        submit("RecorridosCRUD");

    }
    function submit(actionResult) {

        var frm = $("form");        
        frm.attr("action", "../" + actionResult);
        frm.attr("method", "post");
        calcularValores("");
        var trs = $("#" + table2 + " tbody tr").length;
        for (var i = 0; i < trs; i++) $('#id_trayectoria' + i).val($('#cboRuta' + i).val());
        
        frm.submit();

    }

    function calcularValores(origen) {
        
        var trs = $("#" + table2 + " tbody tr").length;
        for (var i = 0; i < trs; i++) {

            //alert();
            //$('#id_trayectoria' + i).val($('#cboRuta' + i).val());
            if ($('#id_trayectoria' + i).val() != 0) $('#cboRuta' + i).val($('#id_trayectoria' + i).val());
            $('#id_programacion' + i).val($('#id_programacion').val());
            $('#id_unidad_transporte' + i).val($('#id_unidad_transporte').val());            
            if ($('#glosa' + i).val() == "") $('#glosa' + i).val(" ");//Para evitar nulos
            if ($('#serie' + i).val() == "") $('#serie' + i).val(" ");//Para evitar nulos
            if ($('#numero' + i).val() == "") $('#numero' + i).val(" ");//Para evitar nulos
            var total = parseFloat($('#nro_galones_abast_tanq' + i).val()) * parseFloat($('#precio' + i).val());
            $('#total' + i).val(total);

            //------------Calculando los kilometrajes Anteriores por detalle----------------------
            if (i < trs - 1) {
                var j = i + 1;
                var kilometraje = $('#kilometraje' + i).val();
                if (isNaN(kilometraje) || kilometraje == "") { kilometraje = 0; $('#kilometraje' + i).val(0.0); }
                var nro_galones_abast = $('#nro_galones_abast' + i).val();
                if (isNaN(nro_galones_abast) || nro_galones_abast == "") { nro_galones_abast = 0; $('#nro_galones_abast' + i).val(0.0); }

                //Si las rutas son distntas entonces asignamos el kilometraje al siguiente fila
                if ($('#cboRuta' + i).val() != $('#cboRuta' + j).val())
                {
                    $('#kilometraje_anterior' + j).val(kilometraje);
                    $('#nro_galones_anterior' + j).val(nro_galones_abast);
                }
            }
            //---------------------------------------------------------------------------------------
            if (origen == "INICIO") asignarEventosTanqueo(i);

        }        
        
    }
    function asignarEventosTanqueo(pos) {

        
            $('#nro_galones_abast_tanq' + pos).on("blur", function (e) {
                calcularGlnsPorRuta();
            });
            $('#kilometraje' + pos).on("blur", function (e) {
                calcularGlnsPorRuta();
            });
            $('#kilometraje_anterior' + pos).on("blur", function (e) {
                calcularGlnsPorRuta();
            });

            $('#serie' + pos).on("blur", function (e) {
                //alert('serie' + pos+"--------"+ $('#serie' + pos).val());
                completarNumero('serie' + pos, $('#serie' + pos).val(), 4);
            });
            $('#numero' + pos).on("blur", function (e) {
                //alert('numero' + pos + "--------" + $('#serie' + pos).val());
                completarNumero('numero' + pos, $('#numero' + pos).val(), 10);
            });

        
               


    }


    function calcularGlnsPorRuta(){
    
        var trs = $("#" + table1 + " tbody tr").length;
        var glns_abast = 0,km_real=0;
        for (var i = 0; i < trs; i++) {
            var glns_abast = 0;            
            var trs2 = $("#" + table2 + " tbody tr").length;
            for (var j = 0; j < trs2; j++) {
                
                var nro_galones_abast_tanq = $('#nro_galones_abast_tanq' + j).val();                
                if (isNaN(nro_galones_abast_tanq) || nro_galones_abast_tanq == "") { nro_galones_abast_tanq = 0; $('#nro_galones_abast_tanq' + j).val(0.0); }

                //alert($('#id_ruta' + i).val()+"-"+ $('#cboRuta' + j).val());
                if ($('#id_ruta' + i).val() == $('#cboRuta' + j).val())
                {
                 glns_abast = parseFloat(glns_abast) + parseFloat(nro_galones_abast_tanq);
                 
                 var kilometraje = $('#kilometraje' + j).val();
                 if (isNaN(kilometraje) || kilometraje == "") { kilometraje = 0; $('#kilometraje' + j).val(0.0); }
                 var kilometraje_anterior = $('#kilometraje_anterior' + j).val();
                 if (isNaN(kilometraje_anterior) || kilometraje_anterior == "") { kilometraje_anterior = 0; $('#kilometraje_anterior' + j).val(0.0); }
                 km_real = kilometraje - kilometraje_anterior;
                }
            }
            
            var rend_esp = $('#rend_esperado'+i).val();
            var glns_esp = 0.0;            
            if (isNaN(rend_esp) || rend_esp == "") {
                 rend_esp = 0; $('#rend_esperado'+i).val(0.0);
                 glns_esp = 0.0;
             }
            else {
                 if (rend_esp>0) glns_esp = parseFloat(km_real) / parseFloat(rend_esp);
             }                        
            $('#nro_galones_asig' + i).val(glns_esp.toFixed(2));
            

            $('#nro_galones_abast' + i).val(glns_abast);
            glns_abast = 0;
            $('#km_recor_real' + i).val(km_real);
            km_real = 0;

        }
        calcularValores("");


    }





</script>
<style type="text/css">
    

    .estiloTabla th {
        text-align: right;
    }
</style>

@{/*Fuente: */ }



<div id="pantalla" class="pantalla"></div>


@using (Html.BeginForm())
{ //BeginForm hace un post al Persona/Create. Ademas se puede confirar la accion a realizar como guardar la cabecera
    //o solo el detalle de un mantenedor.

    //--- Es una forma de aplicar seguridad en la pagina
    @Html.AntiForgeryToken()
    //Bustra , para invocar a la clase CSS de un control HTML que genera HTML Helper
    @Html.ValidationSummary(true, "", new { @class = "" })

    //---Ocultamos los campos que sean necesario en los hidden
    @Html.HiddenFor(model => model.id_recorrido, new { htmlAttributes = new { @class = "" } })
    @Html.HiddenFor(model => model.interfaz.tipo_operacion, new { htmlAttributes = new { @class = "",@id="tipo_operacion" } })
    @Html.HiddenFor(model => model.tanqueo.rend_esperado, new { htmlAttributes = new { @class = "", @id = "rend_esperado" } })
    

    <table id="" class="tabla_detalle" border="1">
        <thead>
            <tr>
                <th class="mensaje01" colspan="6">@Model.interfaz.mensaje</th>
            </tr>
            <tr>
                <td colspan="6">

                    <table class="estiloTabla">
                        <tr>
                            <th>@Html.LabelFor(model => model.id_recorrido, htmlAttributes: new { @class = "" }) :</th>
                            <td>
                                @Html.EditorFor(model => model.id_recorrido, new { htmlAttributes = new { @class = "estiloNumero", @id = "" } })
                                @Html.ValidationMessageFor(model => model.id_recorrido, "", new { @class = "" })
                            </td>
                            <th>@Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "" }) :</th>
                            <td>
                                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "fecha1", @id = "fecha" } })
                                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "" })
                            </td>
                            <th>@Html.LabelFor(model => model.programacion.id_programacion, htmlAttributes: new { @class = "" }) :</th>
                            <td>
                                @Html.EditorFor(model => model.programacion.id_programacion, new { htmlAttributes = new { @class = "estiloNumero", @id = "id_programacion" } })
                                @Html.ValidationMessageFor(model => model.programacion.id_programacion, "", new { @class = "" })
                            </td>
                            <td colspan="2">
                                <input type="button" id="btnBuscarProg" name="btnBuscarProg" value="Buscar " />
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(model => model.unidad_transporte.placa, htmlAttributes: new { @class = "" }) :</th>
                            <td>
                                @Html.HiddenFor(model => model.unidad_transporte.id_unidad_transporte, htmlAttributes: new { @id = "id_unidad_transporte" })
                                @Html.EditorFor(model => model.unidad_transporte.placa, new { htmlAttributes = new { @class = "estiloNumero", @id = "placa" } })
                                @Html.ValidationMessageFor(model => model.unidad_transporte.placa, "", new { @class = "" })
                            </td>
                            <th>@Html.LabelFor(model => model.conductor, htmlAttributes: new { @class = "" }) :</th>
                            <td>
                                @Html.HiddenFor(model => model.conductor.id_persona, htmlAttributes: new { @id = "id_conductor" })
                                @Html.EditorFor(model => model.conductor.nombres_apellidos, new { htmlAttributes = new { @class = "estiloTexto", @id = "conductor" } })
                                @Html.ValidationMessageFor(model => model.conductor.nombres_apellidos, "", new { @class = "" })
                            </td>
                            <th>@Html.LabelFor(model => model.cliente, htmlAttributes: new { @class = "" }) :</th>
                            <td>
                                @Html.HiddenFor(model => model.cliente.id_persona, htmlAttributes: new { @id = "id_cliente" })
                                @Html.EditorFor(model => model.cliente.nombres_apellidos, new { htmlAttributes = new { @class = "estiloTexto", @id = "cliente" } })
                                @Html.ValidationMessageFor(model => model.conductor.nombres_apellidos, "", new { @class = "" })
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(model => model.ruta.nombre, htmlAttributes: new { @class = "" }):</th>
                            <td>
                                @Html.HiddenFor(model => model.ruta.id_ruta, htmlAttributes: new { @id = "id_ruta" })
                                @Html.EditorFor(model => model.ruta.nombre, new { htmlAttributes = new { @class = "", @id = "ruta" } })
                                @Html.ValidationMessageFor(model => model.ruta.nombre, "", new { @class = "" })
                            </td>
                            <th>@Html.LabelFor(model => model.mercaderia.nombre, htmlAttributes: new { @class = "" }) :</th>
                            <td>
                                @Html.EditorFor(model => model.mercaderia.nombre, new { htmlAttributes = new { @class = "estiloTexto", @id = "mercaderia" } })
                                @Html.ValidationMessageFor(model => model.mercaderia.nombre, "", new { @class = "" })
                            </td>
                            <th>@Html.LabelFor(model => model.mercaderia.peso, htmlAttributes: new { @class = "" }) :</th>
                            <td>
                                @Html.EditorFor(model => model.mercaderia.peso, new { htmlAttributes = new { @class = "estiloNumero", @id = "peso" } })
                                @Html.ValidationMessageFor(model => model.mercaderia.peso, "", new { @class = "" })
                            </td>
                            
                            
                        </tr>
                    </table>

                </td>
            </tr>



        </thead>

    </table>

    <table id="" border="0" >
        <tr>
            <td style="">

                <div id="panel" style="height: 320px;">
                    <ul id="tabs">
                        <li id="tab_01"><a class="panel_01" href="#" onclick="tab('tab_01','panel_01');"> RECORRIDOS </a></li>
                        <li id="tab_02"><a class="panel_02" href="#" onclick="tab('tab_02','panel_02');"> TANQUEOS </a></li>
                    </ul>
                    <div id="paneles" style="background-color: #174C5B; ">

                        <div id="panel_01" style=" height: 260px;">

                            <table id="" class="" border="1">
                                <tr>
                                    <td>
                                        <input type="button" value="Agregar" onclick="agregarDetalle()" />
                                        <input type="button" value="Quitar" onclick="quitarUltimaFilaDetRec()" />
                                        <input type="button" value="Quitar todo" onclick="quitarTodaFilasDetRec()" />
                                    </td>
                                </tr>
                            </table>                            
                            <table id="tabla_detalle" class="tabla_detalle" border="1">
                                    <thead>
                                        <tr>
                                            <th>---</th>
                                            <th>@Html.LabelFor(model => model.lstRD[0].trayectoria, htmlAttributes: new { @class = "" })</th>
                                            <th>Km. Esp.</th>
                                            <th>Km. Real</th>
                                            <th>Glns.Esp.</th>
                                            <th>Glns.Abast.</th>
                                            <th style="display:none;" >@Html.LabelFor(model => model.lstRD[0].tanqueo, htmlAttributes: new { @class = "" })</th>
                                            <th>Rend.Esp.</th>
                                        </tr>
                                    </thead>
                                    <tbody>



                                        @for (int i = 0; i < Model.lstRD.Count; i++)
                                        {


                                            ++Model.interfaz.contador;
                                            <tr class="fila-base">
                                                <td>
                                                    @Model.interfaz.contador
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(modelItem => @Model.lstRD[i].trayectoria.id_ruta, htmlAttributes: new { @id = "id_ruta" + @i })
                                                    @Html.EditorFor(modelItem => @Model.lstRD[i].trayectoria.nombre, new { htmlAttributes = new { @class = "text2", @id = "ruta" + @i } })
                                                    @Html.ValidationMessageFor(modelItem => @Model.lstRD[i].trayectoria.nombre, "", new { @class = "" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => @Model.lstRD[i].km_recor_esp, new { htmlAttributes = new { @class = "text1", @id = "km_recor_esp" + @i } })
                                                    @Html.ValidationMessageFor(modelItem => @Model.lstRD[i].km_recor_esp, "", new { @class = "" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => @Model.lstRD[i].km_recor_real, new { htmlAttributes = new {  @class = "text1",@id = "km_recor_real" + @i } })
                                                    @Html.ValidationMessageFor(modelItem => @Model.lstRD[i].km_recor_real, "", new { @class = "" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => @Model.lstRD[i].nro_galones_asig, new { htmlAttributes = new {  @class = "text1",@id = "nro_galones_asig" + @i } })
                                                    @Html.ValidationMessageFor(modelItem => @Model.lstRD[i].nro_galones_asig, "", new { @class = "" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => @Model.lstRD[i].nro_galones_abast, new { htmlAttributes = new {  @class = "text1",@id = "nro_galones_abast" + @i } })
                                                    @Html.ValidationMessageFor(modelItem => @Model.lstRD[i].nro_galones_abast, "", new { @class = "" })
                                                </td>
                                                <td style="display:none;" >
                                                    @Html.HiddenFor(modelItem => @Model.lstRD[i].id_recorrido_detalle, new { htmlAttributes = new { @id = "id_recorrido_detalle" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(modelItem => @Model.lstRD[i].tanqueo.rend_esperado, new { htmlAttributes = new { @class = "text1", @id = "rend_esperado" + @i } })
                                                    @Html.ValidationMessageFor(modelItem => @Model.lstRD[i].tanqueo.rend_esperado, "", new { @class = "" })
                                                </td>
                                                
                                            </tr>
                                        }

                                    </tbody>



                            </table>

                        </div>
                        <div id="panel_02" style=" height: 260px;width: 100%;">

                            <table id="" class="" border="1">
                                <tr>
                                    <td>
                                        <input type="button" value="Agregar" onclick="agregarDetalleTanq()" />
                                        <input type="button" value="Quitar" onclick="quitarUltimaFilaDetTanq()" />
                                        <input type="button" value="Quitar todo" onclick="quitarTodaFilasDetTanq()" />
                                    </td>
                                </tr>
                            </table>

                            <table id="tabla_detalle_tanqueo" class="tabla_detalle" border="1" style="width:98%;" >
                                <thead>
                                    <tr>
                                        <th>---</th>                                                                                
                                        <th>Ruta</th>
                                        <th>Proveedor</th>
                                        <th># Doc.</th>                                        
                                        <th>@Html.LabelFor(model => model.lstTan[0].fecha, htmlAttributes: new { @class = "" })</th>
                                        <th>Km. / Km.Ant:</th>
                                        <th>Glns. / Glns.Ant</th>
                                        <th>@Html.LabelFor(model => model.lstTan[0].precio, htmlAttributes: new { @class = "" })</th>
                                        <th>@Html.LabelFor(model => model.lstTan[0].total, htmlAttributes: new { @class = "" })</th>                                        
                                        <th>@Html.LabelFor(model => model.lstTan[0].glosa, htmlAttributes: new { @class = "" })</th>
                                        <th>Fict</th>
                                        <th>A Cta Chof.</th>
                                    </tr>


                                </thead>
                                <tbody>
                                    
                                    @for (int i = 0; i < Model.lstTan.Count; i++)
                                    {
                                        if (i == 0) {Model.interfaz.contador = 0;}   
                                        ++Model.interfaz.contador;
                                        
                                        <tr class="fila-base">
                                            <td>
                                                @Model.interfaz.contador
                                            </td>
                                            <td>
                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].id_tanqueo, htmlAttributes: new { @id = "id_tanqueo" + @i })
                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].id_recorrido_detalle, htmlAttributes: new { @id = "id_recorrido_detalle" + @i })
                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].id_programacion, htmlAttributes: new { @id = "id_programacion" + @i })
                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].unidad_transporte.id_unidad_transporte, htmlAttributes: new { @id = "id_unidad_transporte" + @i })
                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].ruta_retorno.id_ruta, htmlAttributes: new { @id = "id_ruta_retorno" + @i })
                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].interfaz.usuario.id_usuario, htmlAttributes: new { @id = "id_usuario" + @i })

                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].ruta.id_ruta, htmlAttributes: new { @id = "id_trayectoria" + @i })
                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].ruta.nombre, htmlAttributes: new { @id = "trayectoria" + @i })
                                            </td>
                                            <td>
                                                @Html.HiddenFor(modelItem => @Model.lstTan[i].empresa.id_persona, htmlAttributes: new { @id = "id_empresa" + @i })
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].empresa.nombres_apellidos, new { htmlAttributes = new { @class = "fecha1", @id = "empresa" + @i } })
                                                @Html.ValidationMessageFor(modelItem => @Model.lstTan[i].empresa.nombres_apellidos, "", new { @class = "" })
                                            </td>
                                            <td>                                                
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].serie, new { htmlAttributes = new { @class = "estiloNumero", @id = "serie" + @i } })-@Html.EditorFor(modelItem => @Model.lstTan[i].numero, new { htmlAttributes = new { @class = "text1", @id = "numero" + @i } })
                                            </td>
                                            <td>
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].fecha, new { htmlAttributes = new { @class = "fecha1", @id = "fecha_tanq" + @i } })
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].hora, new { htmlAttributes = new { @class = "hora" }, @id = "hora_tanq" + @i }) :
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].minuto, new { htmlAttributes = new { @class = "hora", @id = "minuto_tanq" + @i } })                                                
                                            </td>
                                            
                                            <td>                                                                                                                                                
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].kilometraje, new { htmlAttributes = new { @class = "estiloNumero", @id = "kilometraje" + @i } }) / 
                                                @Html.ValidationMessageFor(modelItem => @Model.lstTan[i].kilometraje, "", new { @class = "" })
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].kilometraje_anterior, new { htmlAttributes = new { @class = "estiloNumero", @id = "kilometraje_anterior" + @i } })
                                            </td>
                                            <td>                                                
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].nro_galones_abast, new { htmlAttributes = new { @class = "estiloNumero", @id = "nro_galones_abast_tanq" + @i } }) / 
                                                @Html.ValidationMessageFor(modelItem => @Model.lstTan[i].nro_galones_abast, "", new { @class = "" })
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].nro_galones_anterior, new { htmlAttributes = new { @class = "estiloNumero", @id = "nro_galones_anterior" + @i } })
                                            </td>
                                            <td>
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].precio, new { htmlAttributes = new { @class = "estiloNumero", @id = "precio" + @i } })
                                                @Html.ValidationMessageFor(modelItem => @Model.lstTan[i].precio, "", new { @class = "" })
                                            </td>
                                            <td>
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].total, new { htmlAttributes = new { @class = "estiloNumero", @id = "total" + @i } })
                                                @Html.ValidationMessageFor(modelItem => @Model.lstTan[i].total, "", new { @class = "" })
                                            </td>
                                            <td>
                                                @Html.EditorFor(modelItem => @Model.lstTan[i].glosa, new { htmlAttributes = new { @class = "estiloTexto", @id = "glosa" + @i } })
                                                @Html.ValidationMessageFor(modelItem => @Model.lstTan[i].glosa, "", new { @class = "" })
                                            </td>
                                            <td>
                                                @Html.CheckBoxFor(modelItem => @Model.lstTan[i].ind_ficticio, new { htmlAttributes = new { @class = "", @id = "ind_ficticio" + @i } })
                                            </td>
                                            <td>
                                                @Html.CheckBoxFor(modelItem => @Model.lstTan[i].ind_nodesemb, new { htmlAttributes = new { @class = "", @id = "ind_nodesemb" + @i } })
                                            </td>



                                        </tr>
                                    }
                                   
                                </tbody>

                            </table>



                        </div>

                    </div>

                </div>
            </td>
        </tr>

        <tr>
            <td style="text-align:center">                
                <input type="button" value="Registrar" class="" onclick="registrar()" />

            </td>
        </tr>


    </table>
    
    
    
    


}

<div id="xf1">

    <table id="" class="" border="0" style="">
        <tr>
            <td class="subtitulo">
                Busqueda de rutas
                <input type="hidden" id="campo0_rutas" name="campo0_rutas" value="" />
                <input type="hidden" id="campo1_rutas" name="campo1_rutas" value="" />
                <input type="hidden" id="campo2_rutas" name="campo2_rutas" value="" />
                <input type="hidden" id="campo3_rutas" name="campo3_rutas" value="" />
                <input type="hidden" id="campo4_rutas" name="campo4_rutas" value="" />

            </td>
        </tr>
        <tr>
            <td style="text-align: left;">
                Filtrar :    <input type="text" id="campo_filtrar_Rut" size="50" name="campo_filtrar_Rut" value="" onkeyup="obtenerDatos_Rut(0,event)" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <table id="tinytable_Rut" class="tinytable" border="1" style="width: 100%;">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Ruta</th>
                            <th>Km. Aprox.</th>
                            <th>Tiempo Aprox.</th>
                            <th>Rend.Esp.</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td colspan="4">

                                No se encontrarón registros.

                            </td>

                        </tr>

                    </tbody>
                </table>

            </td>

        </tr>
    </table>


</div>



<div id="xf2">

    <table id="" class="" border="0" style="">
        <tr>
            <td class="subtitulo">
                Busqueda de personas
                <input type="hidden" id="campo0_personas" name="campo0_personas" value="" />
                <input type="hidden" id="campo1_personas" name="campo1_personas" value="" />
                <input type="hidden" id="campo2_personas" name="campo2_personas" value="" />
                <input type="hidden" id="campo3_personas" name="campo3_personas" value="" />
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">
                Filtrar :    <input type="text" id="campo_filtrar_per" size="50" name="campo_filtrar_per" value="" onkeyup="obtenerDatos_per(0,event)" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <table id="tinytable_per" class="tinytable" border="1" style="width: 100%;">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Persona</th>                       
                            <th>Tarif.Combust.</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td colspan="3">

                                No se encontrarón registros.

                            </td>

                        </tr>

                    </tbody>
                </table>

            </td>

        </tr>
    </table>


</div>