﻿@model appControlRutasTanqueos.Areas.Privada.Models.tanqueoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //// Como publicar un sitio web de ASP.net en IIS 7 : 
    /* Instalar y Configurar Correctamente IIS + Publicar Web ASP.Net: https://www.youtube.com/watch?v=cCPJbQxDA6k    
     */
}
<script type="text/javascript">
        
    $(document).ready(function () {
        
        colorearFilasAlternadas('table_contenido',0);

    });


    function listar() {

        submit("RpteDsctoConductores");

    }
    function exportar() {

        submit("exportarRpteDsctoConductores");
         
    }

    function submit(actionResult) {

        var frm = $("form");
        frm.attr("action", "../Recorrido/" + actionResult);
        frm.attr("method", "post");
        frm.submit();

    }

    function colorearFilasAlternadas(name_table,colum) {

        var trs = $("#" + name_table + " tbody tr").length;
        var fila, fila_ant, campo = "", campo_ant = "";
        var pos = 0;
        for (var i = 0; i < trs; i++) {
            pos = i - 1;
            fila = $("#" + name_table + " tbody tr:eq(" + i + ")");
            campo = fila.find("td").eq(colum).find("input[type=hidden]").val();
            if (i == 0) fila.addClass("color01");

            if (i > 0) {
                fila_ant = $("#" + name_table + " tbody tr:eq(" + pos + ")");
                campo_ant = fila_ant.find("td").eq(colum).find("input[type=hidden]").val();
                if (campo == campo_ant) {
                    fila.addClass(fila_ant.attr("class"));
                }
                else {
                    if (fila_ant.attr("class") == "color01")
                        fila.addClass("color02");
                    else
                        fila.addClass("color01");
                }
            }
        }
    }

</script>



@{/*Fuente: http://www.nebaris.com/post/140/formas-de-pasar-datos-en-aspnet-mvc--parte-2 */ }
@using (Html.BeginForm())
{ //BeginForm hace un post al Persona/Create. Ademas se puede confirar la accion a realizar como guardar la cabecera
    //o solo el detalle de un mantenedor.

    //--- Es una forma de aplicar seguridad en la pagina
    @Html.AntiForgeryToken()
    //Bustra , para invocar a la clase CSS de un control HTML que genera HTML Helper
    @Html.ValidationSummary(true, "", new { @class = "" })

    
    @Html.HiddenFor(model => model.interfaz.tipo_operacion)
    
    <table class="" border="0">
        <tr>
            <th>@Html.DisplayNameFor(model => model.interfaz.fecha_inicial)</th>
            <td>
                @Html.EditorFor(model => model.interfaz.fecha_inicial, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.interfaz.fecha_inicial, "", new { @class = "" })
            </td>
            <th>@Html.DisplayNameFor(model => model.interfaz.fecha_final)</th>
            <td>
                @Html.EditorFor(model => model.interfaz.fecha_final, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.interfaz.fecha_final, "", new { @class = "" })
            </td>            
            <td>
                <input type="button" value="Listar" class="" onclick="listar()" />
                <input type="button" value="Exportar" class="" onclick="exportar()" />
            </td>
        </tr>
        
    </table>
    <table id="table_contenido" class="" border="1" style="font-size:12px;" >
        <thead>
            <tr>
                <th>N°</th>                
                <th>@Html.DisplayNameFor(model => model.fecha)</th>
                <th>@Html.DisplayNameFor(model => model.unidad_transporte.placa)</th>
                <th>@Html.DisplayNameFor(model => model.unidad_transporte.conductor)</th>
                <th>@Html.DisplayNameFor(model => model.empresa)</th>                             
                <th>@Html.DisplayNameFor(model => model.ruta)</th>
                <th># Ticket.</th>                                             
                <th>@Html.DisplayNameFor(model => model.nro_galones_abast)</th>                
                <th>@Html.DisplayNameFor(model => model.precio)</th>
                <th>@Html.DisplayNameFor(model => model.total)</th>
                <th>@Html.DisplayNameFor(model => model.glosa)</th>
                <th>@Html.DisplayNameFor(model => model.ind_ficticio)</th>
                <th>A Cta Chof.</th>
            </tr>

        </thead>
        <tbody>
            

            @foreach (var item in Model.lstTan)
            {
                ++Model.interfaz.contador;
                
                <tr>
                    <td>
                        @Model.interfaz.contador                                            
                        @Html.HiddenFor(modelItem => item.unidad_transporte.placa)
                    </td>                                         
                    <td>@Html.DisplayFor(modelItem => item.fecha) @Html.DisplayFor(modelItem => item.hora):@Html.DisplayFor(modelItem => item.minuto)</td>                    
                    <td>@Html.DisplayFor(modelItem => item.unidad_transporte.placa)</td>
                    <td>@Html.DisplayFor(modelItem => item.unidad_transporte.conductor.nombres_apellidos)</td>
                    <td>@Html.DisplayFor(modelItem => item.empresa.nombres_apellidos)</td>                    
                    <td>@Html.DisplayFor(modelItem => item.ruta.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.serie_numero)</td>
              
                    <td id="colum_indic_01">@Html.DisplayFor(modelItem => item.nro_galones_abast)</td>                                      
                    <td id="colum_indic_01">@Html.DisplayFor(modelItem => item.precio)</td>
                    <td id="colum_indic_01">@Html.DisplayFor(modelItem => item.total)</td>
                    <td>@Html.DisplayFor(modelItem => item.glosa)</td>
                    <td>@Html.DisplayFor(modelItem => item.ind_ficticio)</td>
                    <td>@Html.DisplayFor(modelItem => item.ind_nodesemb)</td>

                </tr>
            }
        </tbody>

    </table>

}
