﻿@model appControlRutasTanqueos.Areas.Privada.Models.recorridoDetalleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //// Como publicar un sitio web de ASP.net en IIS 7 : 
    /* Instalar y Configurar Correctamente IIS + Publicar Web ASP.Net: https://www.youtube.com/watch?v=cCPJbQxDA6k    
     */
}
<script type="text/javascript">
        
    $(document).ready(function () {
        
        colorearFilasAlternadas('table_contenido',0);

    });


    function listar() {

        submit("RpteTrazaAbastCombust");

    }
    function exportar() {

        submit("exportarRpteTrazaAbastCombust");
         
    }

    function submit(actionResult) {

        var frm = $("form");
        frm.attr("action", "../Recorrido/" + actionResult);
        frm.attr("method", "post");
        frm.submit();

    }

    function colorearFilasAlternadas(name_table,colum) {

        var trs = $("#" + name_table + " tbody tr").length;
        var fila, fila_ant, campo = "", campo_ant = "";
        var pos = 0;
        for (var i = 0; i < trs; i++) {
            pos = i - 1;
            fila = $("#" + name_table + " tbody tr:eq(" + i + ")");
            campo = fila.find("td").eq(colum).find("input[type=hidden]").val();
            if (i == 0) fila.addClass("color01");

            if (i > 0) {
                fila_ant = $("#" + name_table + " tbody tr:eq(" + pos + ")");
                campo_ant = fila_ant.find("td").eq(colum).find("input[type=hidden]").val();
                if (campo == campo_ant) {
                    fila.addClass(fila_ant.attr("class"));
                }
                else {
                    if (fila_ant.attr("class") == "color01")
                        fila.addClass("color02");
                    else
                        fila.addClass("color01");
                }
            }
        }
    }

</script>



@{/*Fuente: http://www.nebaris.com/post/140/formas-de-pasar-datos-en-aspnet-mvc--parte-2 */ }
@using (Html.BeginForm())
{ //BeginForm hace un post al Persona/Create. Ademas se puede confirar la accion a realizar como guardar la cabecera
    //o solo el detalle de un mantenedor.

    //--- Es una forma de aplicar seguridad en la pagina
    @Html.AntiForgeryToken()
    //Bustra , para invocar a la clase CSS de un control HTML que genera HTML Helper
    @Html.ValidationSummary(true, "", new { @class = "" })

    <table class="" border="0">
        <tr>
            <th>@Html.DisplayNameFor(model => model.recorrido.interfaz.fecha_inicial)</th>
            <td>
                @Html.EditorFor(model => model.recorrido.interfaz.fecha_inicial, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.recorrido.interfaz.fecha_inicial, "", new { @class = "" })
            </td>
            <th>@Html.DisplayNameFor(model => model.recorrido.interfaz.fecha_final)</th>
            <td>
                @Html.EditorFor(model => model.recorrido.interfaz.fecha_final, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.recorrido.interfaz.fecha_final, "", new { @class = "" })
            </td>            
            <td>
                <input type="button" value="Listar" class="" onclick="listar()" />
                <input type="button" value="Exportar" class="" onclick="exportar()" />
            </td>
        </tr>
        
    </table>
    <table id="table_contenido" class="table_contenido" border="1">
        <thead>
            <tr>
                <th>---</th>
                <th>@Html.DisplayNameFor(model => model.recorrido.programacion.id_programacion)</th>
                <th>@Html.DisplayNameFor(model => model.recorrido.unidad_transporte.placa)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.fecha)</th>
                <th>Grifo</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.serie_numero)</th>
                <th>@Html.DisplayNameFor(model => model.recorrido.ruta.nombre)</th>
                <th>Recorr.</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.precio)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.total)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.nro_galones_abast)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.nro_galones_asig)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.kilometraje)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.rend_real)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.rend_esperado)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.tipo_tanqueo)</th>
                <th>@Html.DisplayNameFor(model => model.tanqueo.tipo_combustible.nombre)</th>
                <th>@Html.DisplayNameFor(model => model.recorrido.mercaderia.unidad_medida.abreviatura)</th>
                <th>@Html.DisplayNameFor(model => model.recorrido.mercaderia.peso)</th>


            </tr>
        </thead>
        <tbody>
            

            @foreach (var item in Model.lstRD)
            {
                ++Model.interfaz.contador;
                <tr>
                    <td>
                        @Model.interfaz.contador
                        @Html.HiddenFor(modelItem => item.recorrido.unidad_transporte.placa)
                        @Html.ActionLink("CR", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("U", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("D", "Delete", new { /* id=item.PrimaryKey */ })                        
                    </td> 
                    <td>@Html.DisplayFor(modelItem => item.recorrido.programacion.id_programacion)</td>
                    <td>@Html.DisplayFor(modelItem => item.recorrido.unidad_transporte.placa)</td>
                    <td>@Html.DisplayFor(modelItem => item.tanqueo.fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.tanqueo.proveedor.nombres_apellidos) - @Html.DisplayFor(modelItem => item.tanqueo.distrito.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.tanqueo.serie_numero)</td>
                    <td>@Html.DisplayFor(modelItem => item.recorrido.ruta.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.trayectoria.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.tanqueo.precio)</td>
                    <td>@Html.DisplayFor(modelItem => item.tanqueo.total)</td>
                    <td id="colum_indic_01">@Html.DisplayFor(modelItem => item.tanqueo.nro_galones_abast)</td>
                    <td id="colum_indic_01">@Html.DisplayFor(modelItem => item.tanqueo.nro_galones_asig)</td>
                    <td>@Html.DisplayFor(modelItem => item.tanqueo.kilometraje)</td>
                    <td id="colum_indic_01">@Html.DisplayFor(modelItem => item.tanqueo.rend_real)</td>
                    <td id="colum_indic_01">@Html.DisplayFor(modelItem => item.tanqueo.rend_esperado)</td>
                    <td>@Html.DisplayFor(modelItem => item.tanqueo.tipo_tanqueo)</td>
                    <td>@Html.DisplayFor(modelItem => item.tanqueo.tipo_combustible.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.recorrido.mercaderia.unidad_medida.abreviatura)</td>
                    <td>@Html.DisplayFor(modelItem => item.recorrido.mercaderia.peso)</td>

                </tr>
            }
        </tbody>

    </table>

}
