/* 
 xFenster, rev 20 and above
 These styles are dynamically assigned by xFenster.
*/

.xfContainer { /* outer container */
  background:#ffffff;/*#E3F6CE #FFFFFF; /*#eee;:Color de fondo del contenedor*/
  border:2px solid #394360;
  border: 1px solid #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  color:#000;
  cursor:default;
  font-size:12px;/*Tamaño de la letra del contenido*/
  
  margin:0;
  overflow:hidden;
  padding:0;
  position:absolute;
  visibility:hidden;

}

.xfClient { /* The 'client area' can be an IFRAME or a DIV */
  /*border:0px solid #394360;*/ /*Borde del contenido*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin:0 !important;
  overflow:auto;
  padding:0 !important;
  position:absolute !important;
  z-index:5;
  
}


/*----------Menu del icono Archivo---------*/
.xfMask {
  background-color: #99a3c0;
  display: none;
  margin:0;
  opacity: .2;
  overflow:hidden;
  padding:0;
  position:absolute;
  z-index: 6;
}

.xfMenu { 
  background-color: #99a3c0;
  border-right: 1px solid #596380;
  border-bottom: 1px solid #596380;
  display: none;
  margin:0;
  overflow:hidden;
  padding: 2px 4px;
  position:absolute;
  z-index: 7;
}

.xfMenu a {
  background-color: transparent;
  color: #ffffff;
  display: block;
  font-size: 11px;
  margin: 2px 0;
  padding: 1px;
  text-decoration:none;
  width: 100%;
}


.xfMenu a:hover {
  background-color: #BF8660;
  color: #000000;
}
/*----------------------------------------------*/


.xfTBar, .xfTBarF, .xfSBar, .xfSBarF {

  font-size:12px; /*Tamaño del titulo de la barra de menu horizontal*/
  height:1.6em; /*Alto de la barra de menu horizontal*/
  margin:0px 0px 5px 0px;
  overflow:hidden;
  padding:5px 0px -10px 0px;
  position:absolute;
  z-index:9;

  /*border-bottom: 1px solid #596380;*/
  border-bottom: 1px solid #CCC;

}

.xfTBar, .xfTBarF {
  cursor: move;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

.xfTBar { /* titlebar default */

  background:#99a3c0;
  color:#000;
  font-weight:normal;
}


.xfTBarF { /* titlebar focused */

  background: #C7FFC7;/* #ffffff #E3F6CE #442FFE; :Color de fondo de la barra de menu horizontal   */
  color:#000000; /*#000 #fff:Color del titulo de la barra de menu horizontal*/
  font-weight:bold; /*Negrita*/
}


.xfSBar, .xfSBarF {
  color:#000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

.xfSBar { /* statusbar default */
  background:#99a3c0;
}

.xfSBarF { /* statusbar focused */
  background:#442FFE;/*Color de la barra horizontal inferior*/
}



/*Manejo de los iconos del formulario*/
/*.xfMnuIco,*/
 .xfMinIco, .xfMaxIco, .xfRstIco, .xfCloIco, .xfRszIco {

  background:transparent;
  cursor:pointer;
  height:12px; /*Altura del icono*/
  margin:1px 0 0 0;
  overflow:hidden;
  padding:0px 0 0 0;
  position:absolute;
  width:12px;
  z-index:10;
}

.xfMnuIco {

  background:transparent;
  height:12px; /*Altura del icono*/
  margin:0px 1px 0 0;
  overflow:hidden;
  padding:0px 0 0 0;
  position:absolute;
  width:12px;
  z-index:10;
}

.xfMnuIco { /* menu icon */
  /*background-image:url(../images/xf_menu_icon.gif);*/
  background-image:url(../images/IconoAplicacion.png);/*Imagen de 12 x12*/
}

.xfMinIco { /* minimize icon */
  background-image:url(../images/xf_minimize_icon.gif);
}

.xfMaxIco { /* maximize icon */
  background-image:url(../images/xf_maximize_icon.gif);
}

.xfRstIco { /* restore icon */
  background-image:url(../images/xf_restore_icon.gif);
}

.xfCloIco { /* close icon */
  background-image:url(../images/xf_close_icon.gif);
}

.xfRszIco { /* resize icon */
  background:transparent;
  background-image:url(../images/xf_resize_icon.gif);
  cursor: se-resize;
  height:12px;
  margin:0;
  padding:0;
  width:12px;
}

